footer {
  width: 100%;
  height: 42vh;
  background-color: rgb(226, 43, 43);
}
footer nav {
  width: 100%;
}
footer nav div #logofooter {
  width: 200px;
  height: 150px;
}
footer nav div #insta {
  width: 50px;
  height: 50px;
}
footer nav div #tw {
  width: 50px;
  height: 50px;
}
footer nav div #spotify {
  width: 50px;
  height: 50px;
}
footer nav div #tienda {
  width: 50px;
  height: 50px;
}

html {
  scroll-behavior: smooth;
}
html body {
  height: 262vh;
  width: 100vw;
}
html body main {
  width: 100vw;
  height: 225vh;
}

header {
  width: 100%;
  height: 15vh;
  background-color: rgb(226, 43, 43) !important;
  z-index: 5;
}
header #nav {
  width: 100%;
  height: 15vh;
  background-color: rgb(226, 43, 43) !important;
  margin-right: 15px;
  z-index: 5;
}
header #nav a .ysylogoheader {
  width: 100px;
  height: 100px;
}

.mainindex {
  width: 100vw;
  height: 224vh;
}
.mainindex .cura {
  width: 100vw;
  height: 15vh;
}
.mainindex #first {
  width: 100vw;
  height: 54vh;
  scroll-margin-top: 15vh;
  background-image: url(../assets/images/concierto.png);
}
.mainindex #second {
  width: 100vw;
  height: 25vh;
  scroll-margin-top: 15vh;
  background-image: url(../assets/images/vecina.jpg);
  background-repeat: no-repeat;
}
.mainindex #third {
  width: 100vw;
  height: 60vh;
  scroll-margin-top: 15vh;
  background-image: url(../assets/images/285110494_166259122521018_5885656613623835379_n.jpg);
  background-position: center;
}
.mainindex #fourth {
  width: 100vw;
  height: 25vh;
  scroll-margin-top: 15vh;
  background-image: url(../assets/images/foto.jpg);
}
.mainindex #fifth {
  background-color: #FBA127;
  width: 100vw;
  height: 55vh;
  scroll-margin-top: 15vh;
  background-image: url(../assets/images/musica.png);
}

.bodyshows {
  width: 100vw;
  height: 300vh;
}
.bodyshows .mainshows {
  width: 100vw;
  height: 281vh;
}
.bodyshows .mainshows section div #show1 {
  width: 600px;
  height: 600px;
}
.bodyshows .mainshows section div #show2 {
  width: 595px;
  height: 600px;
}
.bodyshows .mainshows section div #show3 {
  width: 595px;
  height: 600px;
}

.bodyysysmo {
  width: 100%;
  height: 197vh;
}
.bodyysysmo .mainysysmo {
  width: 100%;
  height: 150vh;
}
.bodyysysmo .mainysysmo section div .carousel-inner {
  width: 100%;
  height: 600px;
}
.bodyysysmo .mainysysmo section div .carousel-inner img {
  width: 100%;
  height: 800px;
}

.bodymerch {
  width: 100%;
  height: 150vh;
}
.bodymerch .mainmerch {
  width: 100%;
  height: 140vh;
}
.bodymerch .mainmerch section div .carousel-inner {
  width: 100%;
  height: 700px;
}
.bodymerch .mainmerch section div .carousel-inner img {
  width: 100%;
  height: 700px;
}

.bodynovedades {
  width: 100%;
  height: 150vh;
}
.bodynovedades .mainnovedades {
  width: 100%;
  height: 110vh;
}

.bodymusic {
  width: 100%;
  height: 410vh;
}
.bodymusic .mainmusic {
  width: 100%;
  height: 382vh;
}

@media (min-width: 575.98px) and (max-width: 766px) {
  header {
    width: 100%;
    height: 15vh;
    z-index: 5;
  }
  header #nav {
    width: 100%;
    height: 15vh;
  }
  .bodyshows {
    width: 110vw;
    height: 290vh;
  }
  .bodyshows .mainshows {
    width: 100vw;
    height: 250vh;
  }
  .bodyshows .mainshows section div #show1 {
    width: 500px;
    height: 500px;
  }
  .bodyshows .mainshows section div #show2 {
    width: 495px;
    height: 500px;
  }
  .bodyshows .mainshows section div #show3 {
    width: 495px;
    height: 500px;
  }
}
@media (min-width: 767.98px) and (max-width: 991px) {
  header {
    width: 100%;
    height: 15vh;
    z-index: 5;
  }
  header #nav {
    width: 100%;
    height: 15vh;
  }
  .bodyshows {
    width: 100vw;
    height: 380vh;
  }
  .bodyshows .mainshows {
    width: 100vw;
    height: 339vh;
  }
  .bodyshows .mainshows section div #show1 {
    width: 900px;
    height: 700px;
  }
  .bodyshows .mainshows section div #show2 {
    width: 895px;
    height: 700px;
  }
  .bodyshows .mainshows section div #show3 {
    width: 895px;
    height: 700px;
  }
}
@media (min-width: 991.98px) and (max-width: 1199px) {
  .bodyshows {
    width: 100vw;
    height: 300vh;
  }
  .bodyshows .mainshows {
    width: 100vw;
    height: 263vh;
  }
  .bodyshows .mainshows section div #show1 {
    width: 500px;
    height: 600px;
  }
  .bodyshows .mainshows section div #show2 {
    width: 495px;
    height: 600px;
  }
  .bodyshows .mainshows section div #show3 {
    width: 495px;
    height: 600px;
  }
}
@media (min-width: 1199.98px) and (max-width: 1359px) {
  .bodyshows {
    width: 100vw;
    height: 300vh;
  }
  .bodyshows .mainshows {
    width: 100vw;
    height: 282vh;
  }
}
@media (min-width: 1400px) {
  .bodyshows {
    width: 100vw;
    height: 300vh;
  }
  .bodyshows .mainshows {
    width: 100vw;
    height: 263vh;
  }
}/*# sourceMappingURL=style.css.map */