.mainindex{
    width: 100vw;
    height: 224vh;
    .cura{
        width: 100vw;
        height: 15vh;
    }
    #first{
        width: 100vw;
height: 54vh;
scroll-margin-top: 15vh;
background-image: url(../assets/images/concierto1400\ si.png);
    }
    #second{
        width: 100vw;
    height: 25vh;
    scroll-margin-top: 15vh;
    background-image: url(../assets/images/loco\ 1400.jpg);
    background-repeat: no-repeat;
    }
    #third{
        width: 100vw;
    height: 60vh;
    scroll-margin-top: 15vh;
    background-image: url(../assets/images/sponsor\ 1400.jpg);
    background-position: center;
    }
    #fourth{
        width: 100vw;
        height: 25vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/trap\ 1400.jpg);
    }
    #fifth{
        background-color: #FBA127;
        width: 100vw;
        height: 55vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/musica1400.png);
    }
}