@media only screen and (min-width: 320px) and (max-width: 432px){
    .bodyshows{
        width: 100vw;
        height: 240vh;
        .mainshows{
            width: 100vw;
        height: 220vh;
        section{
            div{
                #show1{
                    width: 298px;
                    height: 400px;
                }
            }
        }
        section{
            div{
                #show2{
                    width: 298px;
                    height: 400px;
                }
            }
        }
        section{
            div{
                #show3{
                    width: 298px;
                    height: 400px;
                }
            }
        }
        }
    }
    .bodyysysmo{
        width: 100%;
    height: 100vh;
    .mainysysmo{
        width: 100%;
    height: 150vh;
}
}
.bodymerch{
    width: 100%;
    height: 90vh;
    .mainmerch{
        width: 100%;
        height: 70vh;
        section{
            div{
                .carousel-inner{
                    width: 100%;
                    height: 300px;
                }
                .carousel-inner img{
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
}
.bodymusic{
    width: 100%;
height: 187vh;
.mainmusic{
    width: 100%;
height: 130vh;
}
}
footer{
    width: 100%;
    height: 40vh;
    background-color: rgb(226, 43, 43);
    margin-top: 5px;
    nav{
        width: 100%;
        div{
            #logofooter{
                width: 200px;
    height: 150px;
    margin-left: 5;
            }
        }
        div{
            #insta{
                width: 50px;
    height: 50px;
    margin-left: 4;
            }
        }
        div{
            #tw{
                width: 50px;
                height: 50px;
                margin-left: 4;
            }
        }
        div{
            #spotify{
                width: 50px;
    height: 50px;
    margin-left: 4;
            }
        }
        div{
            #tienda{
                width: 50px;
                height: 50px;
                margin-left: 4;
            }
        }
    }
}
header{
    width: 100%;
    height: 17vh;
    z-index: 5;
    #nav{
        width: 100%;
        height: 17vh;
        a{
            .ysylogoheader{
                width: 100px;
                height: 100px;
            }
                }
                div{
                    ul{
                        li{
                            a{
                                background-color: rgb(226, 43, 43) !important;
                                width: 100px;
                            }
                        }
                    }
                }    
    }
        }
        .bodynovedades{
            width: 100%;
            height: 250vh;
            .mainnovedades{
                width: 100%;
                height: 185vh;
            }
        }
        .mainindex{
            width: 100vw;
            height: 224vh;
            .cura{
                width: 100vw;
                height: 15vh;
            }
            #first{
                width: 100vw;
        height: 54vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/concierto\ 432.png);
            }
            #second{
                width: 100vw;
            height: 25vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/loco\ 432.jpg);
            background-repeat: no-repeat;
            }
            #third{
                width: 100vw;
            height: 60vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/sponsor\ 432.jpg);
            background-position: center;
            }
            #fourth{
                width: 100vw;
                height: 25vh;
                scroll-margin-top: 15vh;
                background-image: url(../assets/images/trap\ 432.jpg);
            }
            #fifth{
                background-color: #FBA127;
                width: 100vw;
                height: 55vh;
                scroll-margin-top: 15vh;
                background-image: url(../assets/images/musica\ 432\ \(2\).png);
            }
        }
}
@media only screen and (min-width: 433px) and (max-width: 574px){
    .bodyshows{
        width: 100vw;
        height: 240vh;
        .mainshows{
            width: 100vw;
        height: 225vh;
        section{
            div{
                #show1{
                    width: 400px;
                    height: 400px;
                }
            }
        }
        section{
            div{
                #show2{
                    width: 400px;
                    height: 400px;
                }
            }
        }
        section{
            div{
                #show3{
                    width: 400px;
                    height: 400px;
                }
            }
        }
        }
    }
    footer{
        width: 100%;
        height: 40vh;
        background-color: rgb(226, 43, 43);
        margin-top: 5px;
        nav{
            width: 100%;
            div{
                #logofooter{
                    width: 200px;
        height: 150px;
        margin-left: 27px;
                }
            }
            div{
                #insta{
                    width: 50px;
        height: 50px;
        margin-left: 27px;
                }
            }
            div{
                #tw{
                    width: 50px;
                    height: 50px;
                    margin-left: 27px;
                }
            }
            div{
                #spotify{
                    width: 50px;
        height: 50px;
        margin-left: 30px;
                }
            }
            div{
                #tienda{
                    width: 50px;
                    height: 50px;
                    margin-left: 27px;
                }
            }
        }
    }
    .bodyysysmo{
        width: 100%;
    height: 127vh;
    .mainysysmo{
        width: 100%;
    height: 156vh;
}
}
.bodymerch{
    width: 100%;
    height: 90vh;
    .mainmerch{
        width: 100%;
        height: 66vh;
        section{
            div{
                .carousel-inner{
                    width: 100%;
                    height: 330px;
                }
                .carousel-inner img{
                    width: 100%;
                    height: 330px;
                }
            }
        }
    }
}
.bodymusic{
    width: 100%;
height: 200vh;
.mainmusic{
    width: 100%;
height: 145vh;
}
}
header{
    width: 100%;
    height: 17vh;
    z-index: 5;
    #nav{
        width: 100%;
        height: 17vh;
        a{
            .ysylogoheader{
                width: 100px;
                height: 100px;
            }
                }
                div{
                    ul{
                        li{
                            a{
                                background-color: rgb(226, 43, 43) !important;
                                width: 100px;
                            }
                        }
                    }
                }    
    }
        }
        .bodynovedades{
            width: 100%;
            height: 250vh;
            .mainnovedades{
                width: 100%;
                height: 185vh;
            }
        }
        .mainindex{
            width: 100vw;
            height: 224vh;
            .cura{
                width: 100vw;
                height: 15vh;
            }
            #first{
                width: 100vw;
        height: 54vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/concierto\ 574.png);
            }
            #second{
                width: 100vw;
            height: 25vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/loco\ 574.jpg);
            background-repeat: no-repeat;
            }
            #third{
                width: 100vw;
            height: 60vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/sponsor\ 574.jpg);
            background-position: center;
            }
            #fourth{
                width: 100vw;
                height: 25vh;
                scroll-margin-top: 15vh;
                background-image: url(../assets/images/trap\ 574.jpg);
            }
            #fifth{
                background-color: #FBA127;
                width: 100vw;
                height: 55vh;
                scroll-margin-top: 15vh;
                background-image: url(../assets/images/musica\ 432\ \(2\).png);
            }
        }
}



@media (min-width: 575px) and (max-width: 766px){
    .bodyysysmo{
        width: 100%;
        height: 100vh;
        .mainysysmo{
            width: 100%;
            height: 150vh;
        }
    }
    header{
        width: 100%;
        height: 17vh;
        z-index: 5;
        #nav{
            width: 100%;
            height: 17vh;
            }
            }
        
    
    .bodyshows{
        width: 100vw;
        height: 260vh;
        .mainshows{
            width: 100vw;
        height: 250vh;
        section{
            div{
                #show1{
                    width: 500px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show2{
                    width: 500px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show3{
                    width: 500px;
                    height: 500px;
                }
            }
        }
        }
    }
    .bodymusic{
        width: 100%;
    height: 200vh;
    .mainmusic{
        width: 100%;
    height: 180vh;
    }
    }
    .bodynovedades{
        width: 100%;
        height: 150vh;
        .mainnovedades{
            width: 100%;
            height: 130vh;
        }
    }
    .mainindex{
        width: 100vw;
        height: 224vh;
        .cura{
            width: 100vw;
            height: 15vh;
        }
        #first{
            width: 100vw;
    height: 54vh;
    scroll-margin-top: 15vh;
    background-image: url(../assets/images/concierto\ 768.png);
        }
        #second{
            width: 100vw;
        height: 25vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/loco\ 574.jpg);
        background-repeat: no-repeat;
        }
        #third{
            width: 100vw;
        height: 60vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/sponsor\ 768.jpg);
        background-position: center;
        }
        #fourth{
            width: 100vw;
            height: 25vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/trap\ 574.jpg);
        }
        #fifth{
            background-color: #FBA127;
            width: 100vw;
            height: 55vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/musica\ 574\ \(2\).png);
        }
    }
}


@media (min-width: 767px) and (max-width: 991px){
    .bodyysysmo{
        width: 100%;
        height: 100vh;
        .mainysysmo{
            width: 100%;
            height: 150vh;
        }
    }
    header{
        width: 100%;
        height: 17vh;
        z-index: 5;
        #nav{
            width: 100%;
            height: 17vh;
            a{
                .ysylogoheader{
                    width: 100px;
                    height: 100px;
                }
                    }
                    div{
                        ul{
                            li{
                                a{
                                    background-color: rgb(226, 43, 43) !important;
                                    width: 100px;
                                }
                            }
                        }
                    }    
        }
            }
        
    .bodyshows{
        width: 100vw;
        height: 260vh;
        .mainshows{
            width: 100vw;
        height: 250vh;
        section{
            div{
                #show1{
                    width: 540px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show2{
                    width: 540px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show3{
                    width: 540px;
                    height: 500px;
                }
            }
        }
        }
    }
    .bodymusic{
        width: 100%;
    height: 200vh;
    .mainmusic{
        width: 100%;
    height: 215vh;
    }
    }
    .bodynovedades{
        width: 100%;
        height: 150vh;
        .mainnovedades{
            width: 100%;
            height: 130vh;
        }
    }
    .mainindex{
        width: 100vw;
        height: 224vh;
        .cura{
            width: 100vw;
            height: 15vh;
        }
        #first{
            width: 100vw;
    height: 54vh;
    scroll-margin-top: 15vh;
    background-image: url(../assets/images/concierto\ 768.png);
        }
        #second{
            width: 100vw;
        height: 25vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/loco\ 768.jpg);
        background-repeat: no-repeat;
        }
        #third{
            width: 100vw;
        height: 60vh;
        scroll-margin-top: 15vh;
        background-image: url(../assets/images/sponsor\ 768.jpg);
        background-position: center;
        }
        #fourth{
            width: 100vw;
            height: 25vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/trap\ 768.jpg);
        }
        #fifth{
            background-color: #FBA127;
            width: 100vw;
            height: 55vh;
            scroll-margin-top: 15vh;
            background-image: url(../assets/images/musica\ 768\ \(2\).png);
        }
    }
}

@media (min-width: 992px) and (max-width: 1198px){
    .bodyshows{
        width: 100vw;
        height: 300vh;
        .mainshows{
            width: 100vw;
        height: 250vh;
        section{
            div{
                #show1{
                    width: 500px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show2{
                    width: 500px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show3{
                    width: 500px;
                    height: 500px;
                }
            }
        }
        }
    }
    .bodyysysmo{
        width: 100%;
        height: 175vh;
        .mainysysmo{
            width: 100%;
            height: 150vh;
        }
    }
    .bodymusic{
        width: 100%;
    height: 200vh;
    .mainmusic{
        width: 100%;
    height: 250vh;
    }
    }
}

@media (min-width: 1199px) and (max-width: 1399px){
    .bodyshows{
        width: 100vw;
        height: 300vh;
        .mainshows{
            width: 100vw;
        height: 240vh;
        section{
            div{
                #show1{
                    width: 604px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show2{
                    width: 600px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show3{
                    width: 600px;
                    height: 500px;
                }
            }
        }
        }
    }
    .bodymusic{
        width: 100%;
    height: 200vh;
    .mainmusic{
        width: 100%;
    height: 280vh;
    }
    }
    .bodymusic{
        width: 100%;
    height: 200vh;
    .mainmusic{
        width: 100%;
    height: 290vh;
    }
    }
}


@media (min-width: 1400px){
    .bodyshows{
        width: 100vw;
        height: 300vh;
        .mainshows{
            width: 100vw;
        height: 240vh;
        section{
            div{
                #show1{
                    width: 704px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show2{
                    width: 700px;
                    height: 500px;
                }
            }
        }
        section{
            div{
                #show3{
                    width: 700px;
                    height: 500px;
                }
            }
        }
        }
    }
    .bodymusic{
        width: 100%;
    height: 200vh;
    .mainmusic{
        width: 100%;
    height: 325vh;
    }
    }
}