.bodymerch{
    width: 100%;
    height: 150vh;
    .mainmerch{
        width: 100%;
        height: 140vh;
        section{
            div{
                .carousel-inner{
                    width: 100%;
                    height: 700px;
                }
                .carousel-inner img{
                    width: 100%;
                    height: 700px;
                }
            }
        }
    }
}