.bodyshows{
    width: 100vw;
    height: 150vh;
    .mainshows{
        width: 100vw;
    height: 211vh;
    section{
        div{
            #show1{
                width: 400px;
                height: 415px;
            }
        }
    }
    section{
        div{
            #show2{
                width: 400px;
                height: 414px;
            }
        }
    }
    section{
        div{
            #show3{
                width: 400px;
                height: 414px;
            }
        }
    }
    }
}