.bodyshows{
    width: 100vw;
    height: 300vh;
    .mainshows{
        width: 100vw;
    height: 281vh;
    section{
        div{
            #show1{
                width: 600px;
                height: 600px;
            }
        }
    }
    section{
        div{
            #show2{
                width: 595px;
                height: 600px;
            }
        }
    }
    section{
        div{
            #show3{
                width: 595px;
                height: 600px;
            }
        }
    }
    }
}