.bodyysysmo{
    width: 100%;
height: 197vh;
.mainysysmo{
    width: 100%;
height: 150vh;
section{
    div{
        .carousel-inner{
            width: 100%;
            height: 600px;
        }
        .carousel-inner img{
            width: 100%;
            height: 800px;
        }
    }
}
}
}